
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
     align-items: center;
    width: 90%;
     margin: auto;
     color: #fff;
     flex-wrap: wrap;
     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 3.5% , rgb(58, 56, 56) 100% );
     padding: 10px;
     border-radius: 20rem;

     }
nav h1 ,
nav .list li a {
    color: #fff;
    font-weight: 800;
}
nav   .logo{
    width: 60px;
    height: 35px;
    }

nav  i{
        display: none
    }
 

nav .list{
        display: flex;
        align-items: center;
        margin: 10px 0;
        gap: 20px;
        padding: 10px;
        cursor: pointer;
            }
/* .list li:hover{
    background: gray;
    transition: 0.2s;
    padding: 5px;
    border-radius: 14px;
} */
nav .list li a:hover{
    background: gray;
    transition: 0.2s;
    padding: 10px;
    border-radius: 14px;
} 
nav .active{
    background-color: rgb(147, 155, 161);
    padding: 10px;
    border-radius: 14px;
  }


header .content{
    background-image: url(./images/jaguar.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.content h1 {
    position: absolute;
    top: 50%;
    left: 30%;
    /* transform: translate(50%, 50%); */
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 1px #000;
}
.content #btn1{
    position: absolute;
    top: 60%;
    left: 35%;
    border: none;
    padding: 10px;
    border-radius: 10rem;
    color: blue;
    font-weight: 600;
}
.content #btn{
    position: absolute;
    top: 60%;
    left: 50%;
    border: none;
    padding: 10px;
    border-radius: 10rem;
    background-color: blue;
    color: #fff;
    font-weight: 600;
}
#toggle, label {
    display: none;
}
@media (max-width: 767px){
    .menu {
        display:none;
        width: 100%;
        background-color: #ffffff27;
        padding: 5px;
    }
    .list{
        flex-direction: column;
    }
    label{
        display: block;
        color: blue;
    }
    #checkbox{
        display: none;
    }
    #toggle:checked ~ .menu {
        display: block;
    }
    #btn , #btn1{
        margin-top: 35%;
        width: 15%;
    }
}

section{ background-color: #eee;
}
.slide{
    padding: 20px;
    margin: auto;
    width: 80%;
}
.slide .title{
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    width: fit-content;
    margin: auto;
    cursor: pointer;
    position: relative;
    z-index: 10;
}
.slide .title::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 3.5% , rgb(58, 56, 56) 100% );
    width: 0;
    transition: 0.5s;
    z-index: -11;
        height: 100%;

}
.slide .title:hover::after{
    width: 100%;
}

.slide .products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
    gap: 20px;
    margin: 10px auto;
}
.slide .products .box{
    text-align: center;
    border: 1px solid rgb(187, 180, 180);
    border-radius: 18rem;
    overflow: hidden;
    position: relative;
}

.slide .products{
    position:relative;
}
.slide .products .box::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 3.5% , rgb(58, 56, 56) 100% );
    width: 100%;
    height: 0;
    transition: 2s;
    color: white;
    opacity: 0;
}
.slide .products .box:hover::after{
    width:100% ;
    height: 100%;
    opacity: 0.45;
}
.slide .products .box:hover .details {
    opacity: 1;
    transition: 2s;
}
.slide .box:hover img {
    opacity: 0.7;
}
.slide .box img {
    width: 100%;
    height: 240px;
}
.slide .box .details{
    position: absolute;
    margin: 10px;
    top: 25px;
    opacity: 0;
    color: rgba(2,0,36,1);
}
.slide .products .box .details button{
    background-color: rgba(9,9,121,1);
    color: #fff;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

.slide .products .box .details button:active{
    transform: scale(0.8);
    transition: 0.5s;
}

footer{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px auto;
    border-radius: 20rem;
}
.footer h1 , .footer h2{
    color: #fff;
}
.footer .icons ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
